* {
  box-sizing: border-box;
  /* padding: 35px; */
  /* overflow:     hidden; */
}

body {
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* padding: 80px;  */
  margin: auto;
  margin-top: 20px;
  width: 900px;
  height: 500px;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 30px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 30px;
  flex: 50%;
}


.flex-item-right > form > div {
  display: flex;
}
.flex-item-right > form > div > label > p{
  margin: 0px;
}

.flex-item-right > form > label > p{
  margin: 0px;
}

.flex-item-right > form > div > label {
  flex: 1 1 0px;
}



input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.error { 
    border: 5px outset red;
    background-color: red;    
    text-align: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1000px) {
  /* *{
      padding: 20px;
  } */
  /* body{
    overflow: auto;
  } */
  .flex-container {
      flex-direction: column;
      padding: 35px;
      width: auto;
  }
}

@media (max-width: 600px) {
  /* *{
      padding: 20px;
  } */
  /* body{
    overflow: auto;
  } */
  .flex-container {
      flex-direction: column;
      padding: 10px;
      width: auto;
  }
  .flex-item-right > form > div  {
    display: block;
  }
}


